.container_cabecalho {
    background-color: #171027;
    width: 100%;
}

.conteudo_cabecalho {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho_logo-mobile {
    display: none;
    height: 80px;
    padding: 10px 0px;
    width: 120px;
}

.cabecalho_logo {
    height: 80px;
    margin-left: 30px;
    padding: 10px 0px;
    width: 200px;
}

.cabecalho_menu {
    align-items: center;
    display: flex;
    margin-right: 30px;
}

.nav_menu {
    color: #ffffff;
    font-family: MuseoModerno;
    font-size: 15px;
    height: 25px;
    padding-bottom: 35px;
    text-decoration: none;
}

.nav_menu:hover {
    border-bottom: #ffffff;
    border-style: solid;
}

.cabecalho_menu li {
    margin: 0px 30px 0px 30px;
}


#btn_mobile {
    display: none;
    margin-right: 30px;
}

@media screen and (max-width: 1195px) {
    .nav_menu {
        font-size: 12px;
    }
}

@media screen and (max-width: 1032px) {
    .cabecalho_menu {
        margin-right: 20px;
    }
}


@media screen and (max-width: 1024px) {
    main {
        padding-top: 100px;
    }
    
    .conteudo_cabecalho {
        background-color: #171027;
        position: fixed;
        top: 0;
        height: 100px;
        width: 100%;
        z-index: 2000;
    }


    .cabecalho_logo-mobile {
        display: block;
        margin-left: 20px;
    }

    .cabecalho_logo {
        display: none;
    }


    .cabecalho_menu {
        background: #171027;
        border-bottom: 2px solid;
        border-bottom-color: #4a337d;
        display: block;
        height: 0px;
        left: 0;
        margin: 0 auto;
        overflow-y: hidden;
        position: absolute;
        right: 0px;
        text-align: center;
        top: 100px;
        transition: .6s;
        visibility: hidden;
        width: 100%;
        z-index: 1000;
    }

    .nav_menu {
        padding: 10px;
    }

    #nav.active .cabecalho_menu {
        height: calc(100vh - 100px);        
        visibility: visible;
    }

    .cabecalho_menu li {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #4a337d;
    }

    #btn_mobile {
        align-items: center;
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        font-family: MuseoModerno;
        font-size: 1rem;
        padding: .5rem 1rem;
        gap: .5rem;
    }

    #hamburger {
        color: #ffffff;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
        transition: .2s;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}