.container_cabecalho {
    background-color: #171027;
    width: 100%;
}

.conteudo_cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho_logo-tablet {
    display: none;
}

.cabecalho_logo {
    margin-left: 60px;
    padding: 12px 0 12px 0px;
}

.sublinhado_logo-tablet {
    display: none;
}

.cabecalho_menu {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.nav_menu {
    color: #ffffff;
    font-family: MuseoModerno;
    font-size: 15px;
    height: 25px;
    padding-bottom: 37px;
    text-decoration: none;
}

.nav_menu:hover {
    border-bottom: #ffffff;
    border-style: solid;
}

.cabecalho_menu li {
    margin: 0px 30px 0px 30px;
}

/*---------- TABLETS ----------*/

@media screen and (max-width: 1024px) {

    .cabecalho_logo {
        display: none;
    }

    .cabecalho_logo-tablet {
        display: block;
        margin: 30px auto;
    }

    .sublinhado_logo-tablet {
        display: block;
        width: 330px;
    }

    .conteudo_cabecalho {
        align-items: center;
        flex-direction: column;
    }

    .cabecalho_menu {
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        margin: 60px auto 60px auto;
        width: 520px;
    }

    .cabecalho_menu li {
        margin: 0px 0px 20px 0px;
        height: 46px;
        text-align: justify;
        width: 220px;
    }

    .nav_menu {
        font-size: 26px;
        padding-bottom: 0px;
    }

}