/* Principal */
html, body 
{ 
 height: 100%;
 overflow-x: hidden;
}

/* ------------------- HOME ------------------- */

@font-face {
    font-family: MuseoModerno;
    src: url(../fontes/MuseoModerno/MuseoModerno-VariableFont_wght.ttf)
}

/* Introdução */

.introducao {
    background-image: url(../imagens/home/home-bg.jpg);
}

/* Conheça nossos produtos */

.container_imagensProduto {
    background-image: url(../imagens/bg-produto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------- FIM DA HOME ------------------- */

@media screen and (max-width: 1024px) {
    html {
        overflow-y: hidden;
    }

    body {
        padding-top: 100px;
    }
    
    .conteudo_cabecalho {
        background-color: #171027;
        position: fixed;
        top: 0;
        height: 100px;
        width: 100%;
        z-index: 2000;
    }
}