.botao {
    color: #f3ae1a;
    background-color: transparent;
    border: 4px #f3ae1a solid;
    font-family: MuseoModerno;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    width: 370px;
}

.botao:hover {
    color: #ff9100;
    border-color: #ff9100;
    cursor: pointer;
}

.botao:active {
    color: #ffffff;
    border-color: #ffffff;
}

.botao_tv:active {
    border-color: #171027;
    color: #171027;
}