.imagem_introducao {
    height: 300px;
    object-fit: cover;
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: 1;
}

.titulo_sitesModelo {
    color: #171027;
    font-family: MuseoModerno;
    font-size: 120px;
    position: absolute;
    margin: 90px 15px 0px 15px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 810px) {
    .titulo_sitesModelo {
        font-size: 80px;
        margin-top: 100px;
    }
}

@media screen and (max-width: 543px) {
    .titulo_sitesModelo {
        margin-top: 75px;
    }
}