.base {
    background-color: #171027;
}

.container_base {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 1366px;
}

.conteudo_base {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 60px 60px 60px;
}

.titulo_base {
    color: #ffffff;
    font-family: MuseoModerno;
    font-size: 46px;
    margin: 60px 0px 30px 0px;
}

.caracteristica {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 60px 120px 0px 120px;
    width: 135px;
}

.texto_caracteristica {
    color: #ffffff;
    font-family: MuseoModerno;
    font-size: 18px;
    margin-top: 35px;
    text-align: center;
    width: 150px;
}

@media screen and (max-width: 1240px) {
    .titulo_base {
        font-size: 42px;
        padding: 20px;
        text-align: center;
    }

    .caracteristica {
        margin: 60px 80px 0px 80px;
    }
}

@media screen and (max-width: 710px) {
    .caracteristica {
        margin: 60px 40px 0px 40px;
    }

    .texto_caracteristica {
        font-size: 21px;
        width: 100%;
    }
}