.container_produtos {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulo_produtos {
    color: #171027;
    font-family: MuseoModerno;
    font-size: 42px;
    font-weight: bold;
    margin-top: 60px;
}

.conteudo_produtos {
    display: flex;
    justify-content: space-around;
}

.produto_radio {
    margin: 60px 30px 60px 30px;
}

.banner_produto {
    height: 192px;
    object-fit: cover;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 100%;
    z-index: 1;
}

.nome_produto {
    color: #171027;
    font-family: MuseoModerno;
    font-size: 39px;
    font-weight: bold;
    line-height: 60px;
    margin: 30px 30px 0px 30px;
    position: absolute;
    text-align: center;
    width: 310px;
    z-index: 2;
}

.caracteristicas_produto {
    background-color: #171027;
    color: #ffffff;
    font-family: MuseoModerno;
    font-size: 16px;
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.caracteristicas_produto ul {
    height: 600px;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: left;
    width: 290px;
}

.caracteristicas_produto ul li {
    margin-top: 50px;
}

.botao {
    background-color: #171027;
    border: 4px;
    border-style: solid;
    color: #f3ae1a;
    font-family: MuseoModerno;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 90px 10px 90px;
    text-decoration: none;
}

.botao:hover {
    color: #ff9100;
    cursor: pointer;
}

.botao:active {
    color: #ffffff;
}


@media screen and (max-width: 1280px) {
    .conteudo_produtos {
        flex-wrap: wrap;
    }

    .produto_radio {
        width: 70%;
    }

    .nome_produto {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        left: 0;
        right: 0;

    }

    .banner_produto {
        width: 100%;
    }

    .caracteristicas_produto {
        font-size: 28px;
        padding: 1px 10% 5% 10%;
    }

    .caracteristicas_produto ul {
        height: auto;
        width: 100%;
    }

    .caracteristicas_produto ul li {
        margin-left: 30px;
    }

    .botao {
        font-size: 32px;
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .produto_radio {
        width: 100%;
    }

    .caracteristicas_produto {
        font-size: 22px;
    }

    .caracteristicas_produto ul li {
        margin-left: 0px;
    }
}

@media screen and (max-width: 530px) {
    .nome_produto {
        font-size: 34px;
    }
    
    .botao {
        padding-left: 0px;
        padding-right: 0px;
    }
}