.container_contato {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
}

.conteudo_contato {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0 auto;
    max-width: 1366px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-left: 100px;
}

.titulo {
    font-family: MuseoModerno;
    font-size: 42px;
    font-weight: bold;
    padding: 30px 0px 60px 0px;
    text-align: center;
}

.vendas {
    background-color: #ffffff;
    color: #171027;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container_suporte {
    background-color: #171027;
    width: 100%;
}

.suporte {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.email {
    font-family: MuseoModerno;
    font-size: 32px;
}

.endereco_email {
    font-size: 26px;
}

.email ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 150px;
}

.whatsapp {
    font-family: MuseoModerno;
    font-size: 32px;
}

.whatsapp ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0px 10px 0px;
    width: 200px;
}

@media screen and (min-width: 1380px) {
    .conteudo_contato {
        flex-direction: column;
    }

    .vendas, .suporte {
        align-items: center;
        width: 100%;
    }

    .informacoes {
        margin-left: 0px;
    }

    .email, .whatsapp {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .email ul {
        flex-direction: column;
    }

    .whatsapp ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 1365px) {
    .conteudo_contato {
        flex-direction: column;
    }

    .vendas, .suporte {
        align-items: center;
        width: 100%;
    }

    .informacoes {
        margin-left: 0px;
    }

    .email, .whatsapp {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .email ul {
        flex-direction: column;
    }

    .whatsapp ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .endereco_email {
        font-size: 19px;
    }
}