.container_clientes {
    background-color: #171027;
}

.conteudo_clientes {
    display: flex;
    justify-content: space-around;
    padding: 30px 120px 30px 120px;
}

.cliente {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.imagem_cliente {
    border: solid;
    border-color: #ffffff;
    border-radius: 50%;
}

.fala_cliente {
    color: #ffffff;
    font-family: MuseoModerno;
    font-size: 20px;
    padding: 30px;
    width: 300px;
}

@media screen and (max-width: 1024px) {
    .imagem_cliente {
        height: 130px;
        width: 130px;
    }

    .fala_cliente {
        font-size: 16px;
        height: 100px;
        padding: 30px 0px 0px 0px;
        text-align: center;
        width: 230px;
    }

    .conteudo_clientes {
        padding: 30px 60px 30px 60px;
    }

    .cliente {
        flex-direction: column;
        margin-left: 0px;
    }
}