.container_clientes {
    background-color: #171027;
}

.conteudo_clientes {
    display: flex;
    justify-content: space-around;
    padding: 30px 120px 30px 120px;
    margin: 0 auto;
    max-width: 1366px;
}

.cliente {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.imagem_cliente {
    border: solid;
    border-color: #ffffff;
    border-radius: 50%;
}

.fala_cliente {
    color: #ffffff;
    font-family: MuseoModerno;
    font-size: 20px;
    padding: 30px;
    width: 300px;
}

@media screen and (max-width: 1150px) {
    .imagem_cliente {
        width: 120px;
    }

    .fala_cliente {
        font-size: 16px;
        width: 200px;
    }

}

@media screen and (max-width: 875px) {
    .conteudo_clientes {
        align-items: center;
        flex-direction: column;
    }

    .cliente {
        margin: 30px;
    }

    .fala_cliente {
        font-size: 20px;
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .cliente {
        flex-direction: column;
        margin: 15px;
    }

    .imagem_cliente {
        height: 120px;
    }

    .fala_cliente {
        font-size: 16px;
        text-align: center;
    }
}