.container_nossasMetas {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1366px;
}

.conteudo_nossasMetas {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulo_nossasMetas {
    color: #171027;
    font-family: MuseoModerno;
    font-size: 42px;
    font-weight: bold;
    margin: 30px 0px 20px 30px;
}

.textos_nossasMetas {
    margin-top: 20px;
    width: 795px;
    text-align: justify;
}

.paragrafo_nossasMetas {
    color: #171027;
    font-family: MuseoModerno;
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 30px 30px;
}

.imagem_nossasMetas {
    width: 360px;
}

@media screen and (max-width: 1150px) {
    .conteudo_nossasMetas {
        margin: 0px 30px;
    }

    .titulo_nossasMetas {
        font-size: 32px;
        margin-left: 0px;
    }

    .imagem_nossasMetas {
        display: none;
    }
    
    .textos_nossasMetas {
        width: 100%;
    }

    .paragrafo_nossasMetas {
        margin-left: 0px;
    }
}

@media screen and (max-width: 660px) {
    .paragrafo_nossasMetas {
        font-size: 18px;
    }
}

@media screen and (max-width: 540px) {
    .titulo_nossasMetas {
        font-size: 26px;
    }

    .paragrafo_nossasMetas {
        font-size: 14px;
    }
}