.container_porqueNos {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1366px;
}

.conteudo_porqueNos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo_porqueNos {
    color: #171027;
    font-family: MuseoModerno;
    font-size: 42px;
    font-weight: bold;
    height: 70px;
    width: 260px;
    text-align: center;
    margin-top: 20px;
}

.container_vantagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin: 0px 30px;
}

.vantagem {
    height: 190px;
    margin: 0px 30px 60px 30px;
}



.imagens_vantagem {
    position: relative;
}

.bg_vantagem {
    object-fit: cover;
    vertical-align: top;
    width: 380px;
}

.imagens_vantagem .icone_vantagem {
    position: absolute;
    margin: 30px auto 0px auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

.texto_vantagem {
    align-items: center;
    background-color: #171027;
    display: flex;
    flex-direction: row;
    height: 90px;
    text-align: center;
    width: 380px;
}

.texto_vantagem p {
    color: #ffffff;
    font-family: MuseoModerno;
    font-size: 18px;
    margin-left: 60px;
    width: 260px;
}

.imagem_equipeSuporte {
    width: auto;
    height: auto;
}

/* ---------- RESPONSIVO ---------- */

@media screen and (max-width: 1250px) {
    .imagem_equipeSuporte {
        display: none;
    }

    .container_vantagens {
        width: 100%;
    }

    .vantagem {
        width: 42%;
    }

    .bg_vantagem {
        height: 130px;
        width: 100%;
    }

    .texto_vantagem {
        width: 100%;
    }

    .texto_vantagem p {
        margin: 0 auto;
    }
}

@media screen and (max-width: 875px) {
    .introducao {
        display: none;
    }

    .vantagem {
        width: 100%;
    }

    .bg_vantagem {
        opacity: 0;
    }

    .texto_vantagem {
        border-radius: 40px;
    }
}

@media screen and (max-width: 410px) {
    .titulo_porqueNos {
        font-size: 26px;
    }
}

@media screen and (max-width: 380px) {
    .vantagem {
        margin: 0px 15px 60px 15px;
    }
}