.imagem_introducao {
    height: 300px;
    object-fit: cover;
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: 1;
}

.titulo_webTV {
    color: #171027;
    font-family: MuseoModerno;
    font-size: 120px;
    position: absolute;
    margin: 90px auto 0px auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 675px) {
    .titulo_webTV {
        font-size: 90px;
        margin-top: 110px;
    }
}