.imagem_introducao {
    position: relative;
    height: 300px;
    object-fit: cover;
    vertical-align: top;
    width: 100%;
    z-index: 1;
}

.titulo_webRadioetv {
    color: #171027;
    font-family: MuseoModerno;
    font-size: 120px;
    position: absolute;
    margin: 90px auto 0px auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 980px) {
    .titulo_webRadioetv {
        font-size: 100px;
        margin: 100px 15px 0px 15px;
    }
}

@media screen and (max-width: 796px) {
    .titulo_webRadioetv {
        font-size: 80px;
    }
}

@media screen and (max-width: 644px) {
    .titulo_webRadioetv {
        margin-top: 80px;
    }
}

@media screen and (max-width: 440px) {
    .titulo_webRadioetv {
        font-size: 60px;
        margin-top: 100px;
    }
}